{% load staticfiles %}
{% for dest in destinations %}
    <div class="awe-masonry__item">
        <a href="#">
            <div class="image-wrap image-cover">
                <img src="{% static 'images/img/3.jpg' %}" alt="">
            </div>
        </a>
        <div class="item-title">
            <h2><a href="#">{{ dest.name }}</a></h2>
            <div class="item-cat">
                <ul>
                    <li><a href="#">{{ dest.region_id.name }}</a></li>
                    <li><a href="#">{{ dest.city_id.name }}</a></li>
                </ul>
            </div>
        </div>
        <div class="item-available">
            <span class="count">2341</span>
            available hotel
        </div>
    </div>
{% endfor %}
