<!-- HEADING PAGE -->
<section class="awe-parallax category-heading-section-demo">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="category-heading-content text-uppercase">
            <!-- BREADCRUMB -->
            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Destinations</a></li>
                    <li><a href="#">North America</a></li>
                    <li><a href="#">USA</a></li>
                    <li><span>NewYork</span></li>
                </ul>
            </div>
            <!-- BREADCRUMB -->
            <h3>USA</h3><br>
            <h2>NEWYORK <a href="flight-popup.html" class="flight-popup-open"><i class="awe-icon awe-icon-info"></i></a></h2>
        </div>
    </div>
</section>
<!-- END / HEADING PAGE -->