<section>
    <div class="container">
        <div class="awe-search-tabs tabs">
            <div class="awe-search-tabs__content tabs__content">
                <div class="search-flight ui-tabs-panel ui-widget-content ui-corner-bottom" id="awe-search-tabs-3" aria-labelledby="ui-id-1" role="tabpanel" aria-expanded="true" aria-hidden="false">
                    <h2>Search Your Trip</h2>
                    <form method="post" autocomplete="on">
                        <form id="search-trip-form" action="/en/trip/search/" method="POST">{% csrf_token %}
                        <div class="form-elements" style="float:left; width: 50%; padding-right: 20px; ">
                            <label>Origin</label>
                            <div class="form-item">
                                {{ search_trip_form.origin.errors }}
                                {{ search_trip_form.origin }}
                                <!--<input id="origin" type="text" value="Yangon, Mandalay">-->
                                <i class="expand-icon awe-icon-marker-1"></i>
                            </div>
                        </div>
                        <div class="form-elements" style="float:left; width: 50%; ">
                            <label>Destination</label>
                            <div class="form-item">
                                {{ search_trip_form.destinations.errors }}
                                {{ search_trip_form.destinations }}
                                <!--<input id="destination" type="text" value="Bagan, Inlay">-->
                                <i class="expand-icon awe-icon-marker-1"></i>
                            </div>
                        </div>
                        <div class="form-actions" style="float:right;">
                            <input type="submit" value="Find My Trip">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




