<section>
    <div class="container">
        <div class="awe-search-tabs tabs">
            <div class="awe-search-tabs__content tabs__content">
                <div class="search-flight ui-tabs-panel ui-widget-content ui-corner-bottom" id="awe-search-tabs-3" aria-labelledby="ui-id-1" role="tabpanel" aria-expanded="true" aria-hidden="false">
                    <h2>Search Your Trip</h2>
                    <form>
                        <div class="form-elements" style="float:left; width: 50%; padding-right: 20px; ">
                            <label>Origin</label>
                            <div class="form-item">
                                <i class="awe-icon awe-icon-marker-1"></i>
                                <input type="text" value="Ho Chi Minh, Hanoi, Vietnam">
                            </div>
                        </div>
                        <div class="form-elements" style="float:left; width: 50%; ">
                            <label>Destination</label>
                            <div class="form-item">
                                <i class="awe-icon awe-icon-marker-1"></i>
                                <input type="text" value="Ankara, Turkey">
                            </div>
                        </div>
                        <div class="form-actions" style="float:right;">
                            <input type="submit" value="Find My Flight">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
