{% extends 'base/base.html' %}
{% block content %}
    <!-- BREADCRUMB -->
    <section>
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="/en/">Home</a></li>
                    <li><a href="/en/destinations/">Destinations</a></li>
                    <li><a href="#">Myanmar</a></li>
                    <li><a href="/en/destinations/regional/{{ destinations.region_id.name }}">{{ destinations.region_id.name }}</a></li>
                    <li><a href="/en/destinations/city/{{ destinations.city_id.name }}">{{ destinations.city_id.name }}</a></li>
                    <li><span>{{ destinations.name }}</span></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB -->

    <section class="product-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-detail__info">
                        <div class="product-title">
                            <h2>{{ destinations.name }}</h2>
                        </div>

                        <div class="trips">
                            {% autoescape off %}
                            {{ destinations.content }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-tabs tabs">
                        <ul>
                            <li>
                                <a href="#tabs-3">Review &amp; rating</a>
                            </li>
                        </ul>
                        <div class="product-tabs__content">
                            <div id="tabs-3">
                                <div id="reviews">
                                    <div class="rating-info">
                                        <div class="average-rating-review good">
                                            <span class="count">7.5</span>
                                            <em>Average rating</em>
                                            <span>Good</span>
                                        </div>
                                        <ul class="rating-review">
                                            <li>
                                                <em>Facility</em>
                                                <span>7.5</span>
                                            </li>
                                            <li>
                                                <em>Human</em>
                                                <span>9.0</span>
                                            </li>
                                            <li>
                                                <em>Service</em>
                                                <span>9.5</span>
                                            </li>
                                            <li>
                                                <em>Interesting</em>
                                                <span>8.7</span>
                                            </li>
                                        </ul>
                                        <a href="#" class="write-review">Write a review</a>
                                    </div>
                                    <div id="add_review">
                                        <h3 class="comment-reply-title">Add a review</h3>
                                        <form>
                                            <div class="comment-form-author">
                                                <label for="author">Name <span class="required">*</span></label>
                                                <input id="author" type="text">
                                            </div>
                                            <div class="comment-form-email">
                                                <label for="email">Email <span class="required">*</span></label>
                                                <input id="email" type="text">
                                            </div>
                                            <div class="comment-form-rating">
                                                <h4>Your Rating</h4>
                                                <div class="comment-form-rating__content">
                                                    <div class="item facility">
                                                        <label>Facility</label>
                                                        <select class="awe-select">
                                                            <option>5.0</option>
                                                            <option>6.5</option>
                                                            <option>7.5</option>
                                                            <option>8.5</option>
                                                            <option>9.0</option>
                                                            <option>10</option>
                                                        </select>
                                                    </div>
                                                    <div class="item human">
                                                        <label>Human</label>
                                                        <select class="awe-select">
                                                            <option>5.0</option>
                                                            <option>6.5</option>
                                                            <option>7.5</option>
                                                            <option>8.5</option>
                                                            <option>9.0</option>
                                                            <option>10</option>
                                                        </select>
                                                    </div>
                                                    <div class="item service">
                                                        <label>Service</label>
                                                        <select class="awe-select">
                                                            <option>5.0</option>
                                                            <option>6.5</option>
                                                            <option>7.5</option>
                                                            <option>8.5</option>
                                                            <option>9.0</option>
                                                            <option>10</option>
                                                        </select>
                                                    </div>
                                                    <div class="item interesting">
                                                        <label>Interesting</label>
                                                        <select class="awe-select">
                                                            <option>5.0</option>
                                                            <option>6.5</option>
                                                            <option>7.5</option>
                                                            <option>8.5</option>
                                                            <option>9.0</option>
                                                            <option>10</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-form-comment">
                                                <label for="comment">Your Review</label>
                                                <textarea id="comment"></textarea>
                                            </div>
                                            <div class="form-submit">
                                                <input type="submit" class="submit" value="Submit">
                                            </div>
                                        </form>
                                    </div>
                                    <div id="comments">
                                        <ol class="commentlist">
                                            <li>
                                                <div class="comment-box">
                                                    <div class="avatar">
                                                        <img src="images/img/demo-thumb.jpg" alt="">
                                                    </div>
                                                    <div class="comment-body">
                                                        <p class="meta">
                                                            <strong>Nguyen Gallahendahry</strong>
                                                            <span class="time">December 10, 2012</span>
                                                        </p>
                                                        <div class="description">
                                                            <p>Takes me back to my youth. I love the design of this soda machine. A bit pricy though..!</p>
                                                        </div>

                                                        <div class="rating-info">
                                                            <div class="average-rating-review good">
                                                                <span class="count">7.5</span>
                                                                <em>Average rating</em>
                                                                <span>Good</span>
                                                            </div>
                                                            <ul class="rating-review">
                                                                <li>
                                                                    <em>Facility</em>
                                                                    <span>7.5</span>
                                                                </li>
                                                                <li>
                                                                    <em>Human</em>
                                                                    <span>9.0</span>
                                                                </li>
                                                                <li>
                                                                    <em>Service</em>
                                                                    <span>9.5</span>
                                                                </li>
                                                                <li>
                                                                    <em>Interesting</em>
                                                                    <span>8.7</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
