{% extends 'base/base.html' %}

{% block content %}
<!-- BREADCRUMB -->
    <section>
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="/en/">Home</a></li>
                    <li><a href="/en/destinations/">Destinations</a></li>
                    {% if breadcrumb == 'country' %}
                        <li><span>Myanmar</span></li>
                    {% elif breadcrumb == 'region' %}
                        <li><a href="/en/destinations/">Myanmar</a></li>
                        <li><span>{{ region }}</span></li>
                    {% elif breadcrumb == 'city' %}
                        <li><a href="/en/destinations/">Myanmar</a></li>
                        <li><a href="/en/destinations/regional/{{ region }}">{{ region }}</a></li>
                        <li><span>{{ city_name }}</span></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB -->


    <section class="filter-page">
        <div class="container">
            <div class="row">
                <!-- HEAD OF LIST CONTENT -->
                <!--<div class="col-md-12">-->
                    <!--<div class="page-top">-->
                        <!--<ul class="list-link">-->
                            <!--<li><a href="destinations-hotel.html">Hotel</a></li>-->
                            <!--<li><a href="destinations-attraction.html">Attraction</a></li>-->
                            <!--<li class="current"><a href="destinations-trip.html">Trip</a></li>-->
                            <!--<li><a href="destinations-flight.html">Flight</a></li>-->
                            <!--<li><a href="destinations-train.html">Train</a></li>-->
                            <!--<li><a href="#">Bus</a></li>-->
                            <!--<li><a href="#">Boat</a></li>-->
                            <!--<li><a href="#">Rent a vehicle</a></li>-->
                            <!--<li><a href="#">Music</a></li>-->
                            <!--<li><a href="#">Games</a></li>-->
                        <!--</ul>-->
                        <!--<select class="awe-select">-->
                            <!--<option>Best Match</option>-->
                            <!--<option>Best Rate</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- END / HEAD OF LIST CONTENT -->

                <!-- LIST OF ITEMS -->
                <div class="col-md-12">
                    <div class="filter-page__content">
                        <div class="filter-item-wrapper">
                            <!-- ITEM -->
                            {% for trip in trips %}
                            <div class="trip-item">
                                <div class="item-media">
                                    <div class="image-cover">
                                        <img src="images/trip/1.jpg" alt="">
                                    </div>
                                    <div class="trip-icon">
                                        <img src="images/trip.jpg" alt="">
                                    </div>
                                </div>
                                <div class="item-body">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">{{ trip.title }}</a>
                                        </h2>
                                    </div>
                                    <div class="item-list">
                                        <ul>
                                            <li>4 Attractions</li>
                                            <li>2 days, 1 night</li>
                                        </ul>
                                    </div>
                                    <div class="item-footer">
                                        <div class="item-rate">
                                            <span>7.5 Good</span>
                                        </div>
                                        <div class="item-icon">
                                            <i class="awe-icon awe-icon-gym"></i>
                                            <i class="awe-icon awe-icon-car"></i>
                                            <i class="awe-icon awe-icon-food"></i>
                                            <i class="awe-icon awe-icon-level"></i>
                                            <i class="awe-icon awe-icon-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-more">
                                    <div class="price">
                                        <!--Adult ticket-->
                                        <!--<ins>-->
                                            <!--<span class="amount">$200</span>-->
                                        <!--</ins>-->
                                        <!--<del>-->
                                            <!--<span class="amount">$200</span>-->
                                        <!--</del>-->

                                    </div>
                                    <a href="/en/trip-detail/{{ trip.id }}" class="awe-btn">Book now</a>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- END / ITEM -->
                        </div>


                        <!-- PAGINATION -->
                        {% if trips.paginator.num_pages > 1 %}
                        <div class="page__pagination text-center">
                            {% if trips.has_previous %}
                                <a href="?page={{ destinations.previous_page_number }}" class="pagination-next"><i class="fa fa-caret-left"></i></a>
                            {% endif %}

                            {% for dest_page in page_cnt %}
                                {% if trips.number == dest_page %}
                                    <span class="current">{{ dest_page }}</span>
                                {% else %}
                                    <a href="?page={{ dest_page }}">{{ dest_page }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if trips.has_next %}
                                <a href="?page={{ destinations.next_page_number }}" class="pagination-next"><i class="fa fa-caret-right"></i></a>
                            {% endif %}
                        </div>
                        {% endif %}
                        <!-- END / PAGINATION -->
                    </div>
                </div>
                <!-- END / LIST OF ITEMS -->

                <!-- LEFT-SIDE FILTER -->
                <!--<div class="col-md-3 col-md-pull-9">-->
                    <!--<div class="page-sidebar">-->
                        <!--<div class="sidebar-title">-->
                            <!--<h2>Trip</h2>-->
                            <!--<div class="clear-filter">-->
                                <!--<a href="#">Clear all</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; WIDGET &ndash;&gt;-->
                        <!--<div class="widget widget_has_radio_checkbox">-->
                            <!--<h3>Trip Type</h3>-->
                            <!--<ul>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Amusement park-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Natural sight-seeing-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Pool &amp; Waterpark-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Museum-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Religious and Cultural place-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Shoping mall &amp; Market-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Others-->
                                    <!--</label>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END / WIDGET &ndash;&gt;-->

                        <!--&lt;!&ndash; WIDGET &ndash;&gt;-->
                        <!--<div class="widget widget_price_filter">-->
                            <!--<h3>Price Level</h3>-->
                            <!--<div class="price-slider-wrapper">-->
                                <!--<div class="price-slider"></div>-->
                                <!--<div class="price_slider_amount">-->
                                    <!--<div class="price_label">-->
                                        <!--<span class="from"></span> - <span class="to"></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END / WIDGET &ndash;&gt;-->

                        <!--&lt;!&ndash; WIDGET &ndash;&gt;-->
                        <!--<div class="widget widget_has_radio_checkbox">-->
                            <!--<h3>Star Rating</h3>-->
                            <!--<ul>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--<span class="rating">-->
                                            <!--<i class="fa fa-star"></i>-->
                                            <!--<i class="fa fa-star"></i>-->
                                            <!--<i class="fa fa-star"></i>-->
                                            <!--<i class="fa fa-star"></i>-->
                                            <!--<i class="fa fa-star"></i>-->
                                        <!--</span>-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--<span class="rating">-->
                                            <!--<i class="fa fa-star"></i>-->
                                            <!--<i class="fa fa-star"></i>-->
                                            <!--<i class="fa fa-star"></i>-->
                                            <!--<i class="fa fa-star"></i>-->
                                        <!--</span>-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--<span class="rating">-->
                                            <!--<i class="fa fa-star"></i>-->
                                            <!--<i class="fa fa-star"></i>-->
                                            <!--<i class="fa fa-star"></i>-->
                                        <!--</span>-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--<span class="rating">-->
                                            <!--<i class="fa fa-star"></i>-->
                                            <!--<i class="fa fa-star"></i>-->
                                        <!--</span>-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--<span class="rating">-->
                                            <!--<i class="fa fa-star"></i>-->
                                        <!--</span>-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--<span class="rating">-->
                                            <!--Unrated-->
                                        <!--</span>-->
                                    <!--</label>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END / WIDGET &ndash;&gt;-->

                        <!--&lt;!&ndash; WIDGET &ndash;&gt;-->
                        <!--<div class="widget widget_has_radio_checkbox">-->
                            <!--<h3>Distance</h3>-->
                            <!--<ul>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Near Airport-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Near Shopping District-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Near Attractions-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Near Traffic station-->
                                    <!--</label>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END / WIDGET &ndash;&gt;-->

                        <!--&lt;!&ndash; WIDGET &ndash;&gt;-->
                        <!--<div class="widget widget_has_radio_checkbox">-->
                            <!--<h3>Service Include</h3>-->
                            <!--<ul>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Room service-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Laundry-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Meal at room-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Wifi &amp; internet-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Parking lot-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--TV and appliances-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Pool-->
                                    <!--</label>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<label>-->
                                        <!--<input type="checkbox">-->
                                        <!--<i class="awe-icon awe-icon-check"></i>-->
                                        <!--Gym and Spa-->
                                    <!--</label>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END / WIDGET &ndash;&gt;-->

                        <!--&lt;!&ndash; WIDGET &ndash;&gt;-->
                        <!--<div class="widget widget_product_tag_cloud">-->
                            <!--<h3>Tags</h3>-->
                            <!--<div class="tagcloud">-->
                                <!--<a href="#">Hotel</a>-->
                                <!--<a href="#">Motel</a>-->
                                <!--<a href="#">Hostel</a>-->
                                <!--<a href="#">Homestay</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END / WIDGET &ndash;&gt;-->

                    <!--</div>-->
                <!--</div>-->
                <!-- END / LEFT-SIDE FILTER -->
            </div>
        </div>
    </section>
{% endblock %}