#header-page .logo{
    font-size: 1.5em;
}

#search-trip .v2mm-form-elements {
    margin-top: 24px;
}

#search-trip .form-group .form-elements {
    float: left;
    width: 100%;
    margin-top: 24px;
}

.awe-search-tabs {
    border-radius: 6px;
    margin-top: 0px;
    position: relative;
    z-index: 9999;
}
#search-trip {
    padding: 0;
}


#search- .form-actions input{
    background-color: #0091ea;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.3) inset;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding: 8px 15px 10px;
    position: relative;
    transition: all 0.3s ease 0s;
}



.hd{
    display: none;
}

.expand-icon {
    background: rgba(0, 0, 0, 0) url("/static/images/location.png") repeat scroll 0 0;
    cursor: pointer;
    height: 14px;
    margin-right: 0 !important;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 14px;
}


.flyout-container {
    display: none;
    left: 0;
    position: relative;
    top: 0;
    z-index: 10000;
}

.flyout-container .flyout-wrapper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
    display: none;
    overflow: hidden;
    position: absolute;
    top: 5px;
}

.awe-search-tabs{
    border-radius: 6px;
    margin-top: 0;
    position: relative;
    z-index: 0;
}